
.canvas-container {
    float: left;
    width: 1280px;
}

.object-panel-group {
    float: left;
    width: 500px;
    padding: 10px;
    margin: 10px;
  }

.column-group {
    float: left;
    width: 200px;
    padding: 10px;
    margin: 10px;
  }
